.site-footer {
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 99;
	background-color: #fff;

	.newsletter-signup-wrap {
		margin-bottom: 4em;

		h2 {
			margin: 0;
		}

		& > p {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			width: 100%;

			@include widerThan($mobileLG) {
				flex-direction: row;
				width: 60%;
			}

			.wpcf7-form-control-wrap {
				display: flex;
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;

				@include widerThan($mobileLG) {
					margin-bottom: 0;
				}
			}

			.wpcf7-submit {
				width: 100%;
				background: $color__accent;
				margin-left: 10px;

				&:hover {
					background: $color__accent;
				}

				@include widerThan($mobileLG) {
					width: 40%;
				}
			}

			.ajax-loader {
				margin: 0 0 0 10px;
			}
		}
	}

	.payment-methods {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 0 3em;

		@include widerThan($mobileLG) {
			flex-wrap: nowrap;
		}

		.pf {
			font-size: 34px;
			line-height: 1.3;
			color: #9c9c9c;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.site-info {
		font-size: 13px;
		margin: 2em 0;

		.sep {
			margin: 0 10px;
			opacity: 0.5;
		}

		.site-map-link {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
