#content
	.split-page
		.content-width
			grid-template-columns 1fr
			+widerThan($tabletSM)
				grid-template-columns \[primary-start\] 8fr \[primary-end secondary-start\] 4fr \[secondary-end\]
			.content-area
				grid-column 1 / -1
				margin 0
				+widerThan($tabletSM)
					grid-column primary-start / primary-end
			.widget-area
				grid-column secondary-start / secondary-end
				overflow hidden
				grid-column 1 / -1
				+widerThan($tabletSM)
					grid-column secondary-start / secondary-end