header
	display flex
	justify-content space-between
	align-items center
	padding 0 1.5em
	#site-navigation
		order 1
		+widerThan($tabletLG)
			order 2
	.site-branding
		order 2
		+widerThan($tabletLG)
			order 1
		.content-width
			padding 0
			margin 0 1.5em
			.site-title
				text-align center
	.cart-navigation
		order 3