/*
@font-face {
	font-family: Heritage;
	src: url(Heritage.eot);
	src:
		local("Heritage"),
		url(./src/assets/fonts/Heritage.eot?#iefix) format("embedded-opentype"),
		url(./src/assets/fonts/Heritage.woff2) format("woff2"),
		url(./src/assets/fonts/Heritage.woff) format("woff"),
		url(./src/assets/fonts/Heritage.ttf) format("truetype"),
		url(./src/assets/fonts/Heritage.svg#Heritage) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
*/
