$color__background-body = white
$color__background-screen = #f1f1f1
$color__background-hr = #cccccc
$color__accent = #B5DAD8
$color__accent-hover = darken($color__accent,10%)
$color__accent-dark = darken($color__accent,50%)
$color__accent-darker = darken($color__accent,70%)
$color__accent-second = #DBB0A1
$color__accent-second-hover = darken($color__accent-second, 10%)
$color__accent-second-dark = darken($color__accent-second, 50%)
$color__accent-second-darker = darken($color__accent-second, 70%)
$color__background-pre = #eeeeee
$color__background-ins = #fff9c0
$color__text-screen = #21759b
$color__text-input = #666666
$color__text-input-focus = #111111
$color__link = #343533
$color__link-visited = #343533
$color__link-hover = #000000
$color__text-main = #404040
$color__border-input = #cccccc
$color__border-input-focus = #6d6d6d
$color__border-abbr = #666666