/* Media Query mixins */
@mixin widerThan($var) {

	@media screen and (min-width: #{$var}) {
		@content;
	}
}

@mixin between($min, $max) {

	@media screen and (min-width: #{$min}) and (max-width: #{$max}) {
		@content;
	}
}

// Usage: rem(16px);
@function rem(
	$size,
	$font__base-font-size: $font__base-font-size
) {

	@return #{$size / $font__base-font-size}rem;
}

// Usage: em(16px);
@function em(
	$size,
	$font__base-font-size: $font__base-font-size
) {

	@return #{$size / $font__base-font-size}em;
}

// Usage: @include remify(font-size, 16px);
@mixin remify(
	$property,
	$size,
	$font__base-font-size: $font__base-font-size
) {
	#{$property}: rem($size, $font__base-font-size);
}

// Usage: @include emify(font-size, 16px);
@mixin emify(
	$property,
	$size,
	$font__base-font-size: $font__base-font-size
) {
	#{$property}: em($size, $font__base-font-size);
}
