$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__accent: #ff6b00;
$color__accent-hover: darken($color__accent, 10%);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #343533;
$color__link-visited: #343533;
$color__link-hover: #222;
$color__text-main: #404040;
$color__border-input: #ccc;
$color__border-input-focus: #6d6d6d;
$color__border-abbr: #666;
