a {
  color: $color__link;
  text-decoration: underline;
  &:visited {
    color: $color__link-visited;
  }
  &:hover, 
  &:focus, 
  &:active {
    color: $color__link-hover;
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover, 
  &:active {
    outline: 0;
  }
  &.btn-link {
    border-bottom: none;
    box-shadow: none;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}
/* Reset admin bar links style in admin bar */
#wpadminbar {
  a {
    text-decoration: none;
    border-bottom: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
/* Remove links style */
a.woocommerce-product-gallery__trigger, 
.woocommerce-product-gallery__image > a {
  text-decoration: none;
  border-bottom: 0;
  background-color: transparent;
  box-shadow: none;
}
