/*---------- Homepage -----------*/
.home
	#page
		display block
		perspective 2px
		overflow-x hidden
		overflow-y auto
		-webkit-overflow-scrolling touch
		scroll-behavior smooth
		#masthead.vid-beneath
			position absolute
			width 100%
			top 0
			left 0
			right 0
		.intro--video
			display flex
			justify-content center
			align-items center
			position relative
			width 100%
			height 100vh
			overflow hidden
			background-position center center
			background-size cover
			#intro__video
				z-index -999
				position absolute
				top 50%
				left 50%
				min-width 100%
				min-height 100%
				width auto
				height auto
				transform translateX(-50%) translateY(-50%)
				background-repeat no-repeat
				background-size cover
				background-position 50% 50%
				object-fit cover
				object-position 50% 50%
				transition 1s opacity
				& > video
					object-fit cover
				.vjs-poster
					min-width 100%
					min-height 100%
					width auto
					height auto
					background-repeat no-repeat
					background-size cover
					background-position 50% 50%
					transition 1s opacity
				&.vjs-error
					.vjs-error-display
						&:before
							visibility hidden
						.vjs-modal-dialog-content
							visibility hidden
			.play-button
				display none
				background transparent
				padding 0
				#play-button
					width 100px
					height 100px
			.video-text-layer
				flex-basis 70%
				margin 0
				h1
					color #fff
					font-size 25px
					font-weight 300
					line-height 1.2
					text-align center
					+widerThan($tabletSM)
						font-size 45px
					span
						font-family Heritage, sans-serif
						font-size 50px
						line-height .6
						vertical-align middle
						color $color__accent-second
						+widerThan($tabletSM)
							font-size 80px
			.logo--white
				text-align center
				#logo
					width 350px
					height 350px
					fill #fff
					stroke #fff
			.intro__video--controls
				position absolute
				width 100%
				margin-left 15px
				bottom 10px
				left 0
				z-index 999
				color #fff
				#audio_button
					width 2em
					height 2em
					display inline-block
					.audio-off
						margin-left -8px
						display none
					svg
						width 2em
						height 2em
					&:hover
						cursor pointer
						opacity .7
		#content
			padding 0
			.section__content
				position relative
				display flex
				flex-direction column
				h2
					font-size 40px
					margin 0
				&.accent-bg
					background-color $color__accent
					color $color__accent-dark
					text-align center
					z-index 10
					p
						color #343533
				&.parallax
					padding 10em 0
					position relative
					transform-style preserve-3d
					z-index -1
					overflow hidden
					-webkit-overflow-scrolling touch
					.content-width
						z-index 99
						color #fff
					&::before
						content ''
						position absolute
						top 0
						right 0
						bottom 0
						left 0
						background-color rgba(0,0,0,0.7)
						z-index 1
					&::after
						content ''
						position absolute
						top 0
						right 0
						bottom 0
						left 0
						transform translateZ(-.9px) scale(2)
						z-index -1
						background-size cover
						background-position center center
						background-repeat no-repeat
						+widerThan($tabletSM)
							background-position center -100px
						+widerThan($desktopLG)
							background-position center -250px
					&#parallax-about
						&::after
							background-image url('https://www.kaymozceramics.com/wp-content/uploads/2019/07/Kaymoz_headshots-1.jpeg')