@font-face {
  font-family: 'Heritage';
  src: url('Heritage.eot');
  src: local('Heritage'), 
       url('./inc/fonts/Heritage.eot?#iefix') format('embedded-opentype'), 
       url('./inc/fonts/Heritage.woff2') format('woff2'), 
       url('./inc/fonts/Heritage.woff') format('woff'), 
       url('./inc/fonts/Heritage.ttf') format('truetype'), 
       url('./inc/fonts/Heritage.svg#Heritage') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
