ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 800;
}

dd {
	margin: 0 1.5em 1.5em;
}

ol.numbered {
	list-style: none;

	li {
		counter-increment: bullets;
		display: flex;
		align-items: center;

		&::before {
			content: counter(bullets);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2em;
			height: 2em;
			font-size: 0.75em;
		}
	}
}
